.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 0px;
  padding-bottom: 40px;
  width: 90%;
  max-width: 1110px;
  height: 90vh;
  background-color: #ffff; 
}

@media screen and (min-width: 768px) {
  .home-container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px; 
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-content {
    align-items: flex-start;
  }
}

.home-mobile-img {
  width: 206px;
}

@media screen and (min-width: 768px) {
  .home-mobile-img {
    display: none;
  }
}

.home-desktop-img {
  width: 59%;
  max-width: 510px;
  margin-left: 45px;
  border-radius: 6px;
}

@media screen and (max-width: 767px) {
  .home-desktop-img {
    display: none;
  }

}

.home-heading {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  margin-top: 0px;
  font-size: 30px;
  color: #1e293b;
  text-align: center; 
  
}
.sub-heading1 {
  font-family: 'PT Sans', sans-serif;
  margin-top: 0px;
  font-size: 35px;
  padding-bottom: 6px;
  color: #1e293b; 
  text-align: left; 
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 43px;
    text-align: left;
    padding-bottom: 10px;
  }
  .sub-heading {
    font-size: 23px;
    text-align: left;
    padding-bottom: 10px;
  }
}

.home-description {
  font-family: 'PT Sans', sans-serif;
  margin-top: 36px;
  font-size: 16px;
  line-height: 28px;
  color: #006ac2;
  font-weight: 400;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home-description {
    font-size: 19px;
    margin-top: 0;
    font-weight: 500;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
  }
}




.product-sections {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-content1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.home-content1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: right;
}

@media screen and (min-width: 768px) {
  .home-content1 {
    align-items: flex-end;
  }
}

.home-heading1 {
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: 0px;
  font-size: 30px;
  color: #1e293b;
  text-align: right;
}

@media screen and (min-width: 768px) {

  .home-heading1 {
    font-size: 43px;
    text-align: right;
  }

  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .home-content {
    animation: slideInFromBottom 0.5s ease-in-out forwards; /* Apply animation */
  }

}

.home-description1 {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 28px;
  color: #64748b;
  margin-bottom: 0;
  text-align: end;
}


.service-item h3 {
margin: 10px 0;
color: #333; 
}

.service-item p {
color: #666;
}
@keyframes fadeIn {
from {
  opacity: 0;
  transform: translateY(15px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}

.service-heading {
font-family: 'PT Sans', sans-serif;
margin-top: 0px;
font-size: 30px;
color: #1e293b;
font-weight: 600;
text-align: center;
}

.heading-2{
  font-family: 'PT Sans', sans-serif;
  color:  #0b69ff;
  font-weight: 550;
  font-size: 35px;
  text-decoration: none; 
  padding: 10px;
}
.heading-2 {
font-size: 2rem;
margin: 10px 0;
}

.des-1 {
font-size: 1rem;
color: #666;
}

.footer {
background-color: #05141f;
padding: 40px 0;
}

.footer-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
max-width: 1200px;
margin: 0 auto;
}

.footer-section {
color: white;
}

.footer-section h3 {
font-size: 1.2em;
margin-bottom: 10px;
color: #fff;
}

.footer-section ul {
list-style: none;
padding: 0;

}

.footer-section ul li {
margin-bottom: 8px;
}

.footer-section ul li a {
color: white;
text-decoration: none;
text-align: left;
}

.footer-section ul li a:hover {
color: #000;
}

.footer-section p {
margin-bottom: 5px;
}

.social-links {
list-style: none;
padding: 0;
display: flex;
}

.social-links li {
margin-right: 10px;
}

.social-links li a {
color: white;
text-decoration: none;
font-size: 1.2em;
}

.social-links li a:hover {
color: #000;
}
.footer-bottom {
text-align: center;
margin-top: 30px;
padding-top: 15px;
border-top: 1px solid #ccc;
}

.footer-bottom p {
font-size: 0.9em;
color: white;
}

.button-sign {
background-color: #4CAF50; 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
margin-top: 10px;
border-radius: 8px;
position: relative;
overflow: hidden;
}

.button-sign::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(90deg, rgba(255,255,255,0.4), transparent, rgba(255,255,255,0.4));
background-size: 300% 100%;
animation: shine 2s infinite linear;
}

@keyframes shine {
0% {
  background-position: -200%;
}
100% {
  background-position: 200%;
}
} 

.home-page {
padding: 20px;
text-align: center; 
display: flex;
justify-content: center;
}


.heading-view{
background-color: #68aef8;
color: white; 
border-radius: 8px;
padding: 8px; 
font-size: 20px;
}

.main-heading-view{
background-color: #68aef8;
color: white; 
border-radius: 8px;
padding: 8px; 
font-size: 22px;
}
.popup-container {
display: flex;
justify-content: center;
align-items: center;

}
.register__container1 {
width: 90%; 
max-width: 400px; 
padding: 20px;
background-color: white;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.signup-heading1 {
font-size: 24px;
margin-bottom: 20px;
}
.register__textBox1 {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}
.register__btn1 {
width: 100%;
padding: 10px;
background-color: #007bff;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}
.social-buttons1 {
margin-top: 20px;
}

.social-buttons1 button {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
}
.trigger-button {
margin-top: 20px;
width: 100%;
padding: 10px;
background-color: #ccc;
color: black;
border: none;
border-radius: 5px;
cursor: pointer;
}
@media (max-width: 768px) {
.register__container1 {
  width: 80%;
}
}

@media (max-width: 576px) {
.register__container1 {
  width: 90%;
}

.signup-heading1 {
  font-size: 20px;
}
}
.popup-container {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}
.popup-content {
background-color: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
width: 80%;
max-width: 400px; 
}
.popup-header {
display: flex;
justify-content: flex-end;
}
.close-button {
background-color: #ff6347; 
color: white;
font-size: 20px;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

.close-button:hover {
background-color: #ff0000; 
}
.signup-form {
margin-top: 20px;
}

.signup-form input {
width: 100%;
margin-bottom: 10px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

.signup-form button {
width: 100%;
background-color: #007bff; 
color: white;
border: none;
padding: 10px;
border-radius: 5px;
cursor: pointer;
}

.signup-form button:hover {
background-color: #0056b3;
}
.success-message {
margin-top: 20px;
color: #28a745; 
font-weight: bold;
}
.blog-section-home {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin: 50px;
}

.blogs-card-home {
  width: calc(50% - 20px);
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
  margin-right: 10px;
  transition: transform 0.3s ease;
  border-radius: 6px;
}
.blogs-card-home:hover {
  transform: translateY(-5px); 
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .blogs-card-home {
    width: calc(33.33% - 20px); 
  }
}

@media (min-width: 1024px) {
  .blogs-card-home {
    width: calc(25% - 20px); 
  }
}

.blog-info {
  padding: 20px; 
}

.blog-details-title-home {
  font-size: 18px;
  margin: 10px 0;
}

.blog-datetime {
  font-style: italic;
  color: #888;
}

.blog-image {
  width: 100%;
}

.blog-content {
  margin-top: 10px;
  color: #333;
}
.blog-section-home {
  margin: 20px auto;
  max-width: 1160px; 
}
.blogs-card-home {
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}
.blog-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.blog-details-title-home {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}
.blog-content {
  font-size: 14px;
  color: #666;
}
.blog-datetime {
  color: #999;
  font-size: 14px;
}
@media (max-width: 768px) {
  .blog-section-home {
    max-width: 90%;
  }

  .blogs-card-home {
    margin: 0 5px;
  }

  .blog-details-title-home {
    font-size: 16px;
  }

  .blog-content {
    font-size: 12px;
  }
}
.slick-next,.slick-prev {
  font-size: 5px;
  color: #333; 
  background-color: rgba(64, 143, 207, 0.7); 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.content-section {
  padding: 50px;
  background-color: #aae3fa;
  text-align: center;
}

.content-section h1 {
  font-size: 2.2rem;
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 20px;
  color: #302e33;
}

.content-section p {
  font-size: 1rem;
  line-height: 1.6;
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .content-section {
    padding: 30px;
  }

  .content-section h1 {
    font-size: 2rem;
  }

  .content-section p {
    font-size: 1rem;
  }
}

.service-heading{
  padding-bottom: 20px; 
  padding-top: 10px;
}