.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://img.freepik.com/free-vector/cityscape-cartoon-background-panorama-modern-city-with-high-skyscrapers-park-downtown_1441-1982.jpg"); 
  background-size: cover;
}

.login__container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cont2 {

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 20px;
  background: linear-gradient(90deg, rgba(255,255,255,0.4), transparent, rgba(255,255,255,0.4)); 
  background-color: #007bff;
background-size: 300% 100%;
animation: shine 2s infinite linear;
}
@keyframes shine {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
  } 
.login-heading-1{
  color: #ffff;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
}

.login__textBox {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login__textBox1 {
  width: 92%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login__btn {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.login__btn:hover {
  background-color: #0056b3;
}

.login__google {
  background-color: #db4437;
}

.login__google:hover {
  background-color: #c13505;
}

.login__link {
  color: #007bff;
  text-decoration: none;
}

.login__link:hover {
  text-decoration: underline;
}



.social-buttons {
  margin-top: 10px;
}

.google-button,
.facebook-button,
.linkedin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.google-button:hover,
.facebook-button:hover,
.linkedin-button:hover {
  background-color: #f0f0f0;
}

.google-button img,
.facebook-button img,
.linkedin-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.row-lines {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  margin-right: 10px;
  align-items: center;
  gap: 10px; 
}

.login-heading {
  font-size: 2em; 
  text-align: center;
  font-weight: bold; 
  color: #333; 
  margin-bottom: 20px;
  padding: 5px;
}
.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}

.logo-login {
  width: 110px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logo-login {
    width: 165px;
    border-radius: 3px;
    text-align: center;
    margin-left: 40px;
   
  }
}
