@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.industries-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px; 
    padding-top: 20px;
    background-color: white; 
    border-radius: 5px;
  }
  
  .industries-container h2 {
    font-size: 24px;
    margin-bottom: 15px; 
    text-align: center;
  }
  
  .industries-container p {
    margin-bottom: 15px; 
    font-size: 1rem;
    line-height: 1.6;
    color: #1962ff;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .industries-row-tech {
    display: flex; 
    flex-direction: row;
    
  }
  
  .industry-item {
    width: calc(48% - 10px); 
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .industry-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .industry-item p {
    text-align: left;
    font-weight: bold; 
    color: black;
    
  }
  
  
  @media screen and (max-width: 765px) {
    .industry-item {
      width: calc(100% - 10px); 
    }
  }
  
   
  .main-cont {
    background-color: #02797f;
    height: 100vh;
    padding: 10px;
  }
  .indus-heading{
    color: #666;
  }