/* Base dropdown menu styles */
.dropdown-menu {
  background: #006ac2;
  width: 200px;
  position: absolute;
  top: 100%; /* Adjust top to be directly below the parent */
  left: 0; /* Align to the left of the parent */
  list-style: none;
  text-align: start;
  display: none; /* Hide by default */
}

/* Show dropdown menu when clicked */
.dropdown-menu.clicked {
  display: block; /* Show when clicked */
}

/* Dropdown item styles */
.dropdown-menu li {
  background: #006ac2;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #5cabff;
}

/* Dropdown link styles */
.dropdown-link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 16px;
  font-weight: 600;
}

/* Media query adjustments */
@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
